<html>
<head>
  <link rel="stylesheet" type="text/css" href="/Burger_Time/public/style.css">

  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
<div class = "container">
<h1>Burger Builder</h1>

<ul>
  {{#each burgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger}}

      <button data-burgerid="{{this.id}}" class="delburger">Delete Burger!</button>
    </p>
  </li>
  {{/each}}
</ul>

<h2>Create a Burger</h2>
<form id="createburger" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Save Burger!</button>
</form>

<h2>Update a Burger</h2>
<form id="updateburger" class="button-size">
  <select name="id">
		{{#each burgers}}
			<option value="{{this.id}}">{{this.burger}}</option>
		{{/each}}
	</select>
  <textarea type="text" name="burger" placeholder="burger"></textarea>
  <button type="submit">Update Burger!</button>
</form>
</div>
<script src="index.js" type="text/javascript"></script>
</body>
</html>